* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: hsl(0, 0%, 98%);
  width: 100vw;
}

.main-page {
  height: 100vh;
}

.main-page nav {
  padding: 40px 30px;
  position: relative;
}

.main-page nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.main-page nav ul .left {
  display: flex;
  align-items: stretch;
}

.main-page nav ul .left .buttons {
  margin-inline: 25px;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  color: hsl(0, 0%, 41%);
  transition: 0.5s;
}

.main-page nav ul .left .buttons:hover {
  color: hsl(0, 0%, 8%);
}

.main-page nav ul .left .buttons img {
  margin-left: 5px;
}

.company-arrow {
  position: absolute;
  top: 50px;
  left: 390px;
}

.features-arrow {
  position: absolute;
  top: 50px;
  left: 270px;
}

.mobile-nav {
  display: none;
}

.main-page nav ul .left .logo {
  margin-right: 60px;
}

.mobile-nav .mobile-logo {
  display: none;
}

.main-page nav ul .right {
  display: flex;
}

.main-page nav ul .right li {
  margin-inline: 20px;
}

.main-page nav ul .right li button {
  border: none;
  background-color: transparent;
  color: hsl(0, 0%, 41%);
  padding: 13px 25px;
  cursor: pointer;
  transform: 0.5s;
  font-weight: 500;
  font-size: 15px;
}

.main-page nav ul .right li button:hover {
  color: hsl(0, 0%, 8%);
  border-color: hsl(0, 0%, 8%);
}

.main-page nav ul .right li button.second-btn {
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  display: flex;
}

.wrapper .left {
  width: 65%;
  padding: 50px;
}

.wrapper .left h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: -40px;
}

.wrapper .left p {
  font-size: 20px;
  color: hsl(0, 0%, 41%);
  line-height: 30px;
  margin-bottom: 50px;
  width: 450px;
}

.wrapper .left button {
  color: white;
  background-color: hsl(0, 0%, 8%);
  padding: 13px 25px;
  border-radius: 15px;
  border-radius: 1px solid hsl(0, 0%, 41%);
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 120px;
  transition: 0.5s;
}

.wrapper .left button:hover {
  color: hsl(0, 0%, 8%);
  background-color: white;
  border-color: hsl(0, 0%, 8%);
}

.wrapper .left .footer-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: -60px;
  margin-left: -50px

}

.wrapper .left .footer-icons img {
  margin-inline: 40px;
}

.wrapper .right {
  width: 35%;
}

.wrapper .right img {
  width: 100%;
  height: 80%;
  padding: 30px;
}

.feature-blog {
  width: 150px;
  background-color: white;
  box-shadow: 0 0 10px hsl(0, 0%, 73%);
  border-radius: 15px;
  text-align: center;
  padding: 10px 5px;
  padding-top: 20px;
  padding-left: 10px;
  position: absolute;
  top: 80px;
  left: 135px;
  cursor: pointer;
}

.feature-blog p {
  margin-bottom: 10px;
}

.feature-blog img {
  margin-right: 15px;
  color: hsl(0, 0%, 41%);
}

.reminders {
  transform: translateX(6px);
}

.company-blog {
  width: 120px;
  background-color: white;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  text-align: left;
  padding: 10px 15px;
  position: absolute;
  top: 85px;
  left: 335px;
}

.company-blog p {
  padding-left: 5px;
  margin: 10px 0;
  color: hsl(0, 0%, 41%);
}

.display-none {
  display: none;
}

.mobile-nav .close-menu {
  display: none;
}

.mobile-side-panel {
  display: none;
}

.attribution {
  display: none;
}

a {
  margin-left: 5px;
}

@media screen and (max-width: 750px) {
  .main-page {
    position: relative;
    height: 100%;
  }

  .main-page nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  .mobile-nav .mobile-logo {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
  }

  .mobile-nav .close-menu {
    display: none;
    position: absolute;
    right: 30px;
    top: 25px;
    width: 5%;
    z-index: 1;
  }

  .mobile-nav .open-menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 25px;
    width: 5%;
    z-index: 1;
  }

  .wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .img-hero-mobile {
    display: flex;
    margin-top: 20px;
    height: 50vh;
    width: 100vw;
  }

  .img-hero-desktop {
    display: none;
  }

  .wrapper .left {
    width: 100vw;
  }

  .wrapper .left h1 {
    display: flex;
    justify-content: center;
    font-size: 2.8em;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .wrapper .left p {
    width: 75vw;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    line-height: 1.5em;
    margin-top: 15px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    color: hsl(0, 0%, 41%);
  }

  .wrapper .left button {
    margin-left: 35%;
    margin-bottom: 50px;
    color: #fff;
    background-color: hsl(0, 0%, 8%);
  }

  .wrapper .left button:hover {
    color: hsl(0, 0%, 8%);
    background-color: #fff;
  }

  .wrapper .footer-icons {
    margin: auto;
    margin-left: -40px;
  }

  .wrapper .left .footer-icons img {
    margin-inline: 15px;
  }

  .mobile-side-panel {
    display: none;
    width: 40vw;
    height: 100%;
    background-color: hsl(0, 0%, 98%);
    position: absolute;
    top: 0;
    right: -20px;
    border-radius: 15px;;
  }

  .mobile-side-panel .mobile-menu {
    position: absolute;
    top: 55px;
    margin-left: 30px;
  }

  .mobile-menu-items,
  .mobile-menu-button {
    list-style: none;
  }

  .mobile-menu-items {
    color: hsl(0, 0%, 41%);
    font-size: 1.2em;
    margin-top: 1.5em;
  }

  .mobile-menu-button {
    color: hsl(0, 0%, 41%);
    font-size: 1.2em;
    margin-top: 1.8em;
    margin-left: 0.3em;
    display: flex;
    justify-content: center;
  }

  .register {
    border: 1px solid black;
    border-radius: 15px;
    padding: 13px 70px;
  }

  .features-menu {
    position: relative;
  }

  .features-arrow {
    left: 100px;
    top: 8px;
  }

  .company-menu {
    position: relative;
  }

  .company-arrow {
    left: 100px;
    top: 8px;
  }

  .features-menu-items {
    list-style: none;
    margin-left: 1em;
    margin-top: 1em;
    font-size: 0.9em;
  }

  .features-icon {
    margin-right: 1.5em;
    transform: scale(1.2);
  }

  .features-menu-item {
    margin-top: 1em;
  }

  .company-menu-items {
    list-style: none;
    margin-left: 1em;
    margin-top: 1.3em;
    font-size: 0.9em;
  }

  .company-menu-item {
    margin-top: 1.2em;
  }
}
